<!DOCTYPE html>
<html>

<head>
    <title>{{ document_metadata.title }}</title>
</head>

<body>
    <h1>{{ resume_data.personal_info.name }}</h1>
    <p>{{ resume_data.personal_info.email }}</p>
</body>

</html>
